@import "./vars.scss";
@import "./fonts.scss";
@import "./mixin.scss";
@import "./timeline.scss";

*,
*::after,
*::before{
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html{
    font-size: 16px;
}

body{
    font-family: "Glacial-Regular";
    font-weight: 100;
/*     font-size: 16px;
 */    
    line-height: 1.7;
    color: hsl(0, 0%, 47%);
    padding: 0rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

h2{
    .first{
        font-size: 3.2rem;
        font-weight: 900;
    }
    .second{
        font-size: 4rem;
        font-weight: 900;
    }
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.3rem;
}
p{
    font-size: 1.3rem;
    color: gray;
    font-weight: 200;
}

ul li{
 list-style: none;
 color: gray;
}

a{
    text-decoration: none !important;
    color: inherit;
}
.light{
    font-weight: 100;
}

.menu{
    position: fixed;
    background: white;
    top: 0;
    z-index: 1000;
    width: 100%;
    text-align: right;
    .logo{
        height: 5rem;
    }
    .logo-2{
        height: 3rem;
    }
    ul{
        li{
            a{
                font-size: 1.1rem;
                text-transform: uppercase;
            }
        }
    }
}


.header{
    margin-top: 5rem;
    height: 110vh;
    background-image:  url('../img/banner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    img{
        width: 8rem;
    }
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0, 0, .2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);

}

.btn-white{
    background-color: #ffffff;
    color: $gris;
}

.btn-morado{
    color: white !important;
    background-color: $morado !important;
}

.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: white;
}

.btn:hover::after{
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.img-perfil{
    width: 100%;
    border-radius: 50%;
}

.presentacion{
    background-position: top;
    background-size: cover;
    height: auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    .presentacion-texto{
        h2{
            text-align: center;
        }
        p{
            color: $morado;
            text-align: justify;
            font-weight: 200;
        }
    }
}


.mySwiper{
    width: 100%;
    height: 100%;
    border: 3px solid $morado;
    .swiper-button-next, .swiper-button-prev{
        color: $morado;
    }
    h3{
        font-weight: 900;
    }
    ul{
        padding: 0;
        p{
            text-align: justify;
        }
    }
    p{
        text-align: justify;
    }
}

.banner{
    @include bg(100vh);
    background-image:  url('../img/banner.jpeg');
}

.banner-1{
    @include bg(90vh);
    background-image: url('../img/volanteo.jpg');
}

.banner-2{
    @include bg(100vh);
    background-image: url('../img/descargas.jpg');
}

.banner-3{
    @include bg(100vh);
    background-image: url('../img/cuba.jpg');
}

.banner-4{
    @include bg(100vh);
    background-image: url('../img/trayectoria.jpeg');
}

.redes li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }

.redes li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

.redes li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
    color: $morado;
  }

  .descargas{
      color: $gris;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40rem;
    h2{
			.first{
				font-size: 4rem;
				color: $morado;
				font-style: italic;
				font-weight: 400;
			}
			.second{
				font-size: 5rem;
				font-weight: 900;
			}
		}
		h5{
			font-weight: 200;
			font-size: 1.3rem;
            color: $morado;
            text-align: justify;
            padding-right: 8rem;
		}
    .contenido-btn{
			background-color: $amarillo;
			color: $morado;
			font-weight: 900;
			font-size: 1rem;
		}

		.contenedor-descargas{
			position: relative;
			.descarga{
				width: 100%;
				object-fit: cover;
				position: relative;
			}
			.circle{
				background-color: $morado;
				height: 35vw;
				width: 35vw;
				border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
				position: absolute;
				top: 1.5rem;
				left: 0.5rem;
			}
		}


  }
  .pactos{
    background-color: white;
    background-position: top;
    background-size: cover;
    height: auto;
    .contenido-btn{
        background-color: $morado;
        color: $amarillo;
        font-weight: 900;
        font-size: 1.5rem;
    }
  }
  .donaciones{
    background-position: top;
    background-size: cover;
    p{
        font-weight: 200;
        text-align: justify;
        padding: 0 5rem;
    }
    h3{
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 900;
    }
    img{
        height: 5rem;
    }
  }
  .barra{
      position: fixed;
      bottom: 5%;
      left: 2%;
      z-index: 100;
      img{
          height: 6rem;
      }
  }
  .votacion{
     .consulta{
        height: 9.7vw;
        margin: 0 auto;
     }
     .congreso{
         width: 90%;
     }
  }
  .contacto{
    z-index: 1000;
    h2{
        font-size: 2rem;
    }
    .contenido-btn{
        background-color: $amarillo;
        color: $morado;
        font-weight: 900;
        font-size: 1rem;
    }

  }


  $light-primary: #C5CAE9;
  $text: #FFFFFF;
  $secondary-text: #757575;
  
  
  .timeline {
  
      position: relative;
  
      &::before {
          content: '';
          background: $light-primary;
          width: 5px;
          height: 95%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
      }
  }
  
  .timeline-item {
      width: 100%;
      margin-bottom: 70px;
  
      &:nth-child(even) {
  
          .timeline-content {
              float: right;
              padding: 40px 30px 10px 30px;
              p{
                  text-align: justify;
              }
  
              .date {
                  right: auto;
                  left: 0;
              }
  
              &::after {
                  content: '';
                  position: absolute;
                  border-style: solid;
                  width: 0;
                  height: 0;
                  top: 30px;
                  left: -15px;
                  border-width: 10px 15px 10px 0;
                  border-color: transparent #f5f5f5 transparent transparent;
              }
          }
      }
  
      &::after {
          content: '';
          display: block;
          clear: both;
      }
  }
  
  
  .timeline-content {
      position: relative;
      width: 45%;
      padding: 10px 30px;
      border-radius: 4px;
      background: #f5f5f5;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
  
      &::after {
          content: '';
          position: absolute;
          border-style: solid;
          width: 0;
          height: 0;
          top: 30px;
          right: -15px;
          border-width: 10px 0 10px 15px;
          border-color: transparent transparent transparent #f5f5f5;
      }
  }
  
  .timeline-img {
      width: 30px;
      height: 30px;
      background: $morado;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-top: 25px;
      margin-left: -15px;
  }
  
/*   
  .timeline-card {
      padding: 0!important;
  
      p {
          padding: 0 20px;
          color: $morado;
          text-align: justify;
      }
  
      a {
          margin-left: 20px;
      }
  } */
  
  .timeline-item {
    .timeline-img-header {
              background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
              background-size: cover;
          }
  }
  
  .timeline-img-header {
  
      height: 200px;
      position: relative;
      margin-bottom: 20px;
  
      h2 {
          color: $text;
          position: absolute;
          bottom: 5px;
          left: 20px;
      }
  }
  
  
  .date {
      background: $amarillo;
      display: inline-block;
      color: $morado;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
  }
  
  @media screen and (max-width: 768px) {
  
      .timeline {
  
          &::before {
              left: 50px;
          }
  
          .timeline-img {
              left: 50px;
          }
  
          .timeline-content {
              max-width: 100%;
              width: auto;
              margin-left: 70px;
          }
  
          .timeline-item {
  
              &:nth-child(even) {
  
                  .timeline-content {
                      float: none;
  
                  }
              }
  
              &:nth-child(odd) {
  
                  .timeline-content {
                      
                      &::after {
                          content: '';
                          position: absolute;
                          border-style: solid;
                          width: 0;
                          height: 0;
                          top: 30px;
                          left: -15px;
                          border-width: 10px 15px 10px 0;
                          border-color: transparent #f5f5f5 transparent transparent;
                      }
                  }
  
              }
          }
      }
      
  }
  

  
  @import "./keyframes.scss";

  @import "./breakpoint_mobile.scss";