$amarillo: #FFD500;
$morado: #5B4595;
$gris: #777;


.color-amarillo{
    color: $amarillo;
}
.color-morado{
    color: $morado;
}
.color-blanco{
    color: white;
}
.color-gris{
    color: $gris;
}
.color-negro{
    color: black;
}